
  .hero {
    margin-top: 200px;
    background-color: #ec994b54;
    /*display: inline-block;*/
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: left;
    justify-content: left;
    color: #ffffff;
    font-size: 20px;
    font-family: "poppins";
  }
  
  .hero img {
    /*display: inline-block;*/
    width: 20%;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: 30px;
  }
  .hero_content {
    /*display: inline-block;*/
    width: 40%;
    padding: 50px;
    /*position: relative;
    bottom: 20px;*/
  }
  .hero a {
    text-decoration: none;
    color: #15133c;
    padding: 10px;
    border: 2px solid#143834;
    border-radius: 7px;
    align-self: flex-end;
    color: #f5f5f5;
    font-size: 30px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
  }
  
  .hero a {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
  }


  
  
    /*---------------*/ /* Caja*/ /*---------------*/
  
 
  
    .cards {
      background-color: #14383467;
      padding: 50px 15px;
      text-align: center;
    }
    
    .card_body img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .card_body {
      display: inline-block;
      width: 30%;
      text-align: left;
      padding: 10px;
      border: 2px white solid;
      margin: 10px;
      position: relative;
    }
    
    .card_body h2,
    .card_body p {
      padding: 14px;
    }
    
    .new {
      background-color: #41e6d2;
      padding: 5px;
      color: #f5f5f5;
      border: 2px solid#f5f5f5;
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
      position: absolute;
      top: 10px;
      right: -5px;
    }
    
    .wsp {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      object-fit: cover;
      position: fixed;
      bottom: 15px;
      right: 15px;
      z-index: 1;
      cursor: pointer;
    }
    
    /*---------------*/ /* FIN Cards*/ /*---------------*/